.topdiv{
    background-image: url("../backgrounds/h_img.jpg");
    box-align: center;
    font-family: 'Roboto', sans-serif;
}

.headingtext{
    color: white;
    text-align: center;
}

.topdivimg{
    margin-left: 500px;
}

.topdivimg2{
    margin-left: 550px;
}
.twodiv{
    text-align: center;
}
.threediv{
    background-image: url("../backgrounds/s_image.jpg");
}